.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  .Deck {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
  }

  .one {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .two {
    grid-column: 2 / 4;
    grid-row: 1;
  }

  .versus {
    grid-column: 1 / 3;
    grid-row: 2 / -3;
    display: flex;
    justify-content: center;
  }

  .four {
    grid-column: -3 / -2;
    grid-row: 3;
  }

  .five {
    grid-column: -2 / -1;
    grid-row: 3;
  }

  .three {
    grid-column: 1 / -1;
    grid-row: 4 / -2;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 992px) {
  .home-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
    justify-content: center;
  }

  .character-card.active {
    width: 400px;
  }
}