* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

@font-face {
  font-family: "Saiyan Sans";
  src: local("Saiyan Sans"), url("./assets/Fonts/saiyan_sans/Saiyan-Sans.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: local("Trickster"),
    url("./assets/Fonts/Inter/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
}

:root {
  --font-text: "Inter", sans-serif;
  --font-component: "Saiyan Sans", cursive;
  --primary-color: rgba(251, 178, 36, 1);
  --secondary-color: rgba(217, 217, 217, 1);
  --tertiary-color: rgba(220, 43, 21, 1);
  --overlay-color: rgba(30, 30, 30, 1);
}

h2 {
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
  text-align: center;
  font-family: var(--font-component);
  color: var(--primary-color);
  -webkit-text-stroke: 1.5px black;
  font-size: 5rem;
  letter-spacing: 0.3rem;
}