.card-Member {
  box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
  width: 160px;
  height: 240px;
  transition: width 0.3s ease;
  overflow: hidden;
  cursor: pointer;
  border-radius: 15px;
  background-color: var(--overlay-color);
  border: none;

  img {
    border-radius: 15px;
    height: 240px;
  }
  article {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  h3 {
    font-family: var(--font-component);
    color: var(--primary-color);
    font-size: 2.5rem;
    -webkit-text-stroke: 0.5px black;
    margin: 0;
  }
  p {
    font-family: var(--font-text);
    color: white;
    font-size: 1.3rem;
    margin: 0;
  }
  .github-link {
    position: relative;
  }

  .github {
    height: 30px;
    padding: 31px 20px 9px 20px;
    transition: opacity 700ms ease-in;
    opacity: 1;
  }
  .github:hover::after {
    content: "";
    background-image: url("/src/assets/images/github-aura.webp");
    display: inline-block;
    /* background-size: contain;
    background-repeat: no-repeat; */
    height: 100px;
    width: 100px;
  }
  .github-aura {
    position: absolute;
    height: 100px;
    left: 10px;
    bottom: 10px;
  }
}

.card-Member.active {
  width: 300px;
}
