main {
  .cardMember {
    text-align: center;
  }
  img {
    box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.3);
    height: 240px;
    border-radius: 15px;
    margin: 20px 0;
    cursor: pointer;
  }

  article {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  main {
    img {
      border-radius: 20px;
    }
  }
}
