.banner-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 8px;
  margin-right: 8px;
}

.banner-footer p {
  display: flex;
  flex-wrap: wrap;
  max-width: 33%;
}

.banner-footer figure {
  display: flex;
  margin: 0;
  gap: 10px;
}

.banner-footer a {
  font-size: 1.5rem;
  -webkit-text-stroke: 1px black;
  font-family: var(--font-component);
  color: var(--primary-color);
  text-decoration: none;
}

.banner-footer img {
  height: 2rem;
}
