.fight-club {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 992px) {
  .fight-club {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
    justify-content: center;
  }
}