.Crew {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

@media screen and (min-width: 920px) {
  .Crew {
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    gap: 10px;
    margin: 0 auto;
  }
}
