.character-card {
  display: flex;
  background-color: rgb(193, 192, 192);
  align-items: center;
  justify-content: center;
  height: 319px;
  width: 265px;
  border-radius: 20px;
  box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.3);
  margin-bottom: 5rem;
  margin-top: 15px;
  border: none;

  img {
    top: -10px;
    height: 350px;
    width: auto;
    max-width: fit-content;
    object-fit: contain;
    z-index: 1;
  }
}

.character {
  display: flex;
  text-align: center;
}

.character-data {
  background-color: black;
  color: white;
  height: 319px;
  width: auto;
  padding: 0 1rem 0 1rem;
  border-radius: 0px 20px 20px 0px;
  box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.3);
  text-align: center;
  h2 {
    font-family: var(--font-component);
    font-size: 2rem;
    -webkit-text-stroke: 0.5px white;
    color: #fbb224;
  }
  p {
    font-family: var(--font-text);
  }
  .select-button {
    align-items: center;
    background-color: rgb(193, 192, 192);
    text-decoration: none;
    border: 2px solid white;
    padding: 0.2rem 1rem 0.2rem 1rem;
    border-radius: 10px;
    font-family: var(--font-component);
    text-transform: uppercase;
    font-size: 18px;
    -webkit-text-stroke: 1.5px black;
    color: #fbb224;
  }
}
