.banner-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-component);
}

.banner-header figure img {
  display: flex;
  height: 150px;
}

.banner-header figcaption h1 {
  margin: 0;
  font-size: 4rem;
  color: var(--primary-color);
  -webkit-text-stroke: 8px black;
  text-align: center;
  letter-spacing: 2px;
}

.banner-header figcaption h1 span {
  color: var(--tertiary-color);
}

.banner-header nav {
  display: flex;
  gap: 16px;
  padding-bottom: 3rem;
}

.banner-header nav a {
  display: flex;
  border: 1.2px solid black;
  justify-content: center;
  text-decoration: none;
  color: var(--primary-color);
  -webkit-text-stroke: 5px black;
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 6px;
  width: 110px;
  height: 40px;
  text-align: center;
  font-size: 2rem;
}

/** Responsive **/

@media (min-width: 768px) {
  .banner-header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }

  .banner-header .figure {
    grid-column: 1 / 2;
  }

  .banner-header .title {
    grid-column: 2 / 3;
    justify-items: left;

    .simulator {
      display: flex;
      width: 300px;
      justify-content: center;
    }
  }

  .banner-header nav {
    grid-column: 3 / 3;
    justify-content: end;
  }

  .banner-header nav :link {
    margin-right: 2rem;
  }
}

@media (max-width: 768px) {
  .banner-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
  }
}
