.banner-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-component);
}

.banner-header figure img {
  display: flex;
  height: 150px;
}

.banner-header figcaption h1 {
  margin: 0;
  font-size: 4rem;
  color: var(--primary-color);
  -webkit-text-stroke: 8px black;
  text-align: center;
  /* letter-spacing: 0.3rem; */
}

.banner-header figcaption h1 span {
  color: var(--tertiary-color);
}

.banner-header nav a {
  display: flex;
  border: 1.2px solid black;
  justify-content: center;
  text-decoration: none;
  color: var(--primary-color);
  -webkit-text-stroke: 4px black;
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 6px;
  width: 110px;
  height: 40px;
  text-align: center;
  font-size: 2rem;
}

/** Responsive **/

@media (min-width: 768px) {
  .banner-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .banner-header figcaption h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
  }

  .banner-header nav :link {
    margin-right: 2rem;
  }
}

@media (max-width: 768px) {
  .banner-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
  }
}
